<nav class="view sidebar-nav hidden-print" role="navigation">
  {{partial "navigation/header"}}
  <div class="scroll-container">
    {{partial "navigation/search"}}
    {{partial "navigation/primary_nav"}}
    {{partial "navigation/message"}}
  </div>
</nav>
